//Tipografía
$fuentePrincipal: 'Monserrat', sans-serif;

//Colores
$negro: #000;
$blanco: #fff;
$verde: #4CB8B3;
$rojo: #F53556;
$amarillo: #FEF46D;
$morado: #752F97;

//Tamaños de media queies
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;